.container {
  padding: 0.7rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .page-container {
    padding: 1.5rem;
  }
}
