.mainHeading {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--accent-foreground);
}

/* mainHeading text-accent-foreground */

@media (min-width: 768px) {
  .mainHeading {
    font-size: 1.3rem;
  }
}
