.sidebar {
  height: 100%;
  position: fixed;
  background-color: var(--background);
  z-index: 100;
  left: 0;
  transition: all 0.3s;
}

.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  z-index: 50;
}

.logo {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.6px;
  user-select: none;
  color: var(--card-foreground);
}

.header {
  border-bottom: 1.5px solid var(--border);
}

.name_email {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 13px;
}

.email {
  font-size: 12px;
}

.main {
  flex: 1;
  padding: 1rem;
  max-height: 100vh;
  overflow-y: auto;
  background-color: var(--background);
  min-height: 0;
}

.appcontainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* full viewport height */
}

@media screen and (min-width: 600px) {
}
