.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.cropcontainer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 250px;
  width: 100%;
}

.controls {
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  display: flex;
  gap: 10px;
  background-color: var(--muted);
  border: 1px solid var(--border);
}

.slider {
  padding: 22px 0px;
  cursor: pointer;
}

.zoomBtns {
  display: flex;
  cursor: pointer;
  color: var(--label);
}

.zoomBtns:hover {
  color: var(--primary);
}
