.feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feature h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary);
}

.feature p {
  color: var(--label);
  line-height: 1.6;
}

.featureIcon {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary);
}
