.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background);
  padding: 1rem;
}

.card {
  background: var(--card);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--popover-foreground);
  margin-bottom: 0.5rem;
}

.text {
  font-size: 0.95rem;
  color: var(--primary);
  margin-bottom: 1.5rem;
}

/* --- Form --- */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--label);
  cursor: pointer;
}

/* --- Password Specific Styles --- */
.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 0.75rem;
  padding-right: 3.5rem;
  border: 1px solid var(--border);
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.toggleBtn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: var(--label);
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  padding: 5px;
}

.toggleBtn:hover {
  opacity: 0.8;
}

.buttonPrimary {
  background-color: #2563eb;
  color: white;
  padding: 0.75rem;

  cursor: pointer;
}

.buttonPrimary:hover:not(:disabled) {
  background-color: #1d4ed8;
}

.buttonPrimary:disabled {
  background-color: #93c5fd;
  cursor: not-allowed;
}

.errorMessage {
  background-color: #fef2f2;
  color: #ef4444;
  padding: 0.75rem;
  border-radius: 6px;
  font-size: 0.875rem;
  border: 1px solid #fecaca;
}

.iconSuccess {
  width: 50px;
  height: 50px;
  background-color: #d1fae5;
  color: #059669;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0 auto 1.5rem auto;
}
